# Cache Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# Environnements virtuels (bonus)
.env/
.venv/
env/
venv/

# Vscode
.vscode/

minimap.png
world_data.pkl
Astraya2.0/assets/textures/astrayatextures.xcf
